.error {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 70vh;
 background-image: url(../../imgs//book-fire.jpg);
 background-size: cover;
 width: 100%;
}

.red {
 color: red;
}