@import './../var';

.head {
  background-image: url(../../imgs/book.jpg);
  width: 100%;
  padding-bottom: 2rem;

  .selectors {
    margin: 0.5rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .head {
    font-size: 20px;
  }
}