$selector:#fefae0;
$bg_color1:#fff1e6;
$color_gray: #696969;
$color_brown: #791B1D;
$color_yellow: #F0C977;
$color_yellowShadow: #DCA264;
$colour_card: #eddcd2;
$card_info: #ddbea9;
$rosewood: #540B0E;
$breakpoint-tablet: 700px