@import '../../var';

.cardNest{
     display: flex;
     margin: 2rem 4rem;
     flex-wrap: wrap;
}
.btn{
   background-color: $color_yellow;
   box-shadow: 0 5px ($color_yellowShadow);
   border-radius: 0.3em;
   border: 0;
   font-size: 2rem;
   padding: 0 5rem;
   cursor: pointer;
}
  .btn:hover {
       background-color: $color_brown;
       box-shadow: 0 5px ($rosewood);
       color: white;
  }