@import '../../var';

.headTitle {
  padding: 1.5rem 0;

  h1 {
    font-size: 4rem;
    color: $color_brown;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-shadow: 0.022em 0.022em 0.022em rgb(255, 252, 252);
  }
}

.link {
  font-size: 1.1rem;
  text-decoration: none;
  color: $rosewood;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: $breakpoint-tablet) {
  .headTitle {
    font-size: 1.8rem;
  }
}